form {
    small {
        font-size: 10px;
    }
}
.big-success {
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
    // background: rgb(78, 78, 240);
    img {
        height: 100%;
        width: 100%;
    }
    h5 {
        color: rgb(78,78,240);
    }
}