.app-functions-con {
    .app-function{
        height: 20vh;
        border-radius: 15px;
        background: rgb(78, 78, 240);
        color: white;
        i {
            font-size: 40px;
        }
    }
}